
<!--
<div class="container">
  <h3>I'm in the AppComponent</h3>
  <hr>
  <app-servers></app-servers>
</div>
-->
<!--
<div class="container">
  <app-cockpit
    (serverCreated)="onServerAdded($event)"
    (bpCreated)="onBlueprintAdded($event)"

  ></app-cockpit>
  <hr>
  <button class="btn btn-primary" (click)="onChangeElement()">Change first Element</button>
  <app-server-element
    *ngFor="let serverElement of serverElements"
    [srvElement]="serverElement"
    [name]="serverElement.name"
  >
    <strong *ngIf="serverElement.type === 'server'" style="color : red">{{serverElement.content}}</strong>
    <strong *ngIf="serverElement.type === 'blueprint'" style="color : blue">{{serverElement.content}}</strong>
  </app-server-element>
</div>
-->
<!--
<div class="container">
  <div class="row">
    <div class="col-12">
      <button class="btn btn-primary" (click)="onlyOdd = !onlyOdd">Only show odd numbers</button>
      <br><br>
      <ul class="list-group">
        &lt;!&ndash;<div *ngIf="onlyOdd">
          <li class="list-group-item"
              *ngFor="let number of oddNumbers"
              [ngClass]="{odd : number % 2 !== 0}"
              [ngStyle]="{'backgroundColor' : number % 2 !== 0 ? 'yellow' : 'transparent'}"
          > {{number}}</li>
        </div>
        <div *ngIf="!onlyOdd">
          <li class="list-group-item"
              *ngFor="let number of evenNumbers"
              [ngClass]="{odd : number % 2 !== 0}"
              [ngStyle]="{'backgroundColor' : number % 2 !== 0 ? 'yellow' : 'transparent'}"
          > {{number}}</li>
        </div>
        <ng-template [ngIf]="!onlyOdd">
          <div>
            <li class="list-group-item"
                *ngFor="let number of evenNumbers"
                [ngClass]="{odd : number % 2 !== 0}"
                [ngStyle]="{'backgroundColor' : number % 2 !== 0 ? 'yellow' : 'transparent'}"
            > {{number}}</li>
          </div>
        </ng-template>
      &ndash;&gt;
        <div *appUnless="onlyOdd">
          <li class="list-group-item"
              *ngFor="let number of oddNumbers"
              [ngClass]="{odd : number % 2 !== 0}"
              [ngStyle]="{'backgroundColor' : number % 2 !== 0 ? 'yellow' : 'transparent'}"
          > {{number}}</li>
        </div>
        <div *appUnless="!onlyOdd">
          <li class="list-group-item"
              *ngFor="let number of evenNumbers"
              [ngClass]="{odd : number % 2 !== 0}"
              [ngStyle]="{'backgroundColor' : number % 2 !== 0 ? 'yellow' : 'transparent'}"
          > {{number}}</li>
        </div>

      </ul>
      <p appBasicHighlight>Style me with some style</p>
      <p [appBetterHighlight]="'red'"
         [defaultColor]="'yellow'"
      >Style me with some style</p>
      <p appBetterHighlight="red"
         defaultColor="yellow"
      >Style me with some style</p>
      <div [ngSwitch]="value">
        <p *ngSwitchCase="5">Value is 5</p>
        <p *ngSwitchCase="10">Value is 10</p>
        <p *ngSwitchCase="100">Value is 100</p>
        <p *ngSwitchDefault>Value is Default</p>
      </div>
    </div>
  </div>
</div>
-->
<!--
<div class="container">
  <div class="row">
    <div class="col-xm-12 col-md-8 offset-md-2">
      &lt;!&ndash;<app-new-account (accountAdded)="onAccountAdded($event)"></app-new-account>&ndash;&gt;
      <app-new-account ></app-new-account>
      <hr>
      &lt;!&ndash;<app-account
        *ngFor="let account of accounts; let i = index"
        [account]="account"
        [id]="i"
        (statusChanged)="onStatusChanged($event)"
      ></app-account>&ndash;&gt;
      <app-account
        *ngFor="let account of accounts; let i = index"
        [account]="account"
        [id]="i"
        (statusChanged)="onStatusChanged($event)"
      ></app-account>
    </div>
  </div>
</div>
-->

<!--<div class="container mt-3">-->
  <!--<div class="row">-->
    <!--<div class="col-12">-->
      <!--<ul class="nav nav-tabs">-->
        <!--<li class="nav-item">-->
          <!--<a-->
          <!--[routerLink]="['']"-->
          <!--routerLinkActive="link-active"-->
          <!--[routerLinkActiveOptions]="{exact: true}"-->
          <!--class="nav-link"-->
          <!--&gt;Home</a></li>-->
        <!--<li class="nav-item">-->
          <!--<a-->
            <!--[routerLink]="['servers']"-->
            <!--routerLinkActive="link-active"-->
            <!--class="nav-link">Servers</a></li>-->
        <!--<li class="nav-item"><a-->
          <!--[routerLink]="['users']"-->
          <!--routerLinkActive="link-active"-->
          <!--class="nav-link">Users</a></li>-->
      <!--</ul>-->
    <!--</div>-->
  <!--</div>-->
  <!--<div class="row">-->
    <!--<div class="col-12">-->
      <!--<router-outlet></router-outlet>-->
    <!--</div>-->
    <!--&lt;!&ndash;<div class="col-12">-->
      <!--<app-home></app-home>-->
    <!--</div>-->
    <!--<div class="col-12">-->
      <!--<app-users></app-users>-->
    <!--</div>-->
    <!--<div class="col-12">-->
      <!--<app-servers2></app-servers2>-->
    <!--</div>&ndash;&gt;-->
  <!--</div>-->
<!--</div>-->
<!--
<div class="container">
  <nav class="nav nav-tabs col-12">
    <li class="nav-item" [routerLink]="['/']"><a class="nav-link">Home</a></li>
    <li class="nav-item" [routerLink]="['/user','1']">
      <a class="nav-link">User 1 {{ user1Activated ? '(activated)' : ''}}</a>
    </li>
    <li class="nav-item" [routerLink]="['/user','2']">
      <a class="nav-link">User 2 {{ user2Activated ? '(activated)' : ''}}</a>
    </li>
  </nav>
  <div class="row">
    <div class="col-12">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
-->


<!--recipe project-->
<app-header></app-header>
<div class="container-fluid mt-3" >
  <div class="row">
    <div class="col-12">
      <!--<app-recipes>-->
        <!--*ngIf="loadedFeature == 'recipe'"-->
      <!--</app-recipes>-->
      <!--<app-shopping-list *ngIf="loadedFeature == 'shopping-list'"></app-shopping-list>-->
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
