<nav class="navbar navbar-expand-lg bg-light navbar-light">
  <a href="#" class="navbar-brand"><span class="mb-0 h3 text-secondary"
                                         style="font-weight: bold">Recipe Book</span></a>
    <button class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-between" id="navbarTogglerDemo02">
      <ul class="navbar-nav nav">
        <li class="nav-item">
        <!--  <a href="#"
             class="nav-link"
            (click)="onSelect('recipe')"
          >Recipes</a></li> -->
          <a [routerLink]="['/recipes']"
             routerLinkActive="active"
             [routerLinkActiveOptions]="{exact: true}"
            class="nav-link"
          >Recipes</a>
        <li class="nav-item">
        <!--<a href="#"
          class="nav-link"
          (click)="onSelect('shopping-list')"
        >Shopping List</a></li>-->
        <a [routerLink]="['/shopping-list']"
           routerLinkActive="active"
           class="nav-link"
        >Shopping List</a>
      </ul>

      <ul class="nav navbar-nav">
        <li class="dropdown">
          <button class="btn btn-outline-primary dropdown-toggle"
                  type="button"
                  style="cursor: pointer;"
                  id="dropdownMenuButton"
                  data-toggle="dropdown"
                  aria-haspopup="true"
                  aria-expanded="false">
            Data
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a style="cursor: pointer;" class="dropdown-item">Save Date</a>
            <a style="cursor: pointer;" class="dropdown-item">Fetch Date</a>
          </ul>
        </li>
      </ul>
    </div>

</nav>
